.home {
    padding-top: 240px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &__content {

        &__textMaior{
            font-size: 70px;
            font-family: 'Syne', sans-serif;
            font-weight: 700px;
            color: white;
            text-align: center;
            padding-bottom: 53px;
        }

        &__button{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
    }

    &__button {
        

        img {
            width: 10px;
        }

    }

    @media (max-width: 770px) {
        max-width: 80%;
        margin: 0 auto;

        &__content{

            &__textMaior {
                font-size: 50px;
            }
        }
    }


}